:root {
  --dark-green: #1e3932;
  --green: #008248;
  --light-green: #d4e9e2;
  --white: #f1f8f6;
  --cream: #f3f1e7;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}